<section class="status">
  <section class="status-author">
    <p>By <%= @status.key.keyid %></p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>
</section>

<section class="status-original">
  <section class="status-original-body">
<pre>
<%= @status.signed_body %>
</pre>
  </section>
</div>
