<section class="status">
  <section class="status-author">
    <p><%= @status.key.keyid %> wrote...</p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>

  <section class="author-validation">
    <p><%= @status.key.keyid %>'s key has been signed by [x] people.</p>
  </section>
</section>

<section class="status-original">
  <section class="status-original-body">
<pre>
<%= @status.signed_body %>
</pre>
  </section>
</div>
