<section class="home-page-content">
 <h2>Don&rsquo;t Trust Us</h2>
 <h3>Post PGP-signed content without creating a username or password.</h3>
 <p class="cta-instructions"><%= link_to 'How to Post', page_path('about') %></p>
 <p class="post-link"><%= link_to 'Read a post', "/4e073a77" %></p>
</section>
