<section class="home-page-content">
 <h2>Trust No One</h2>
 <h3>Post PGP-signed content without creating a username or password.</h3>

 <p class="cta-instructions"><a href="about/">How to post</a></p>
</section>
