.about-page-content {
  margin: 6em auto 10em;
  max-width: 600px;
  overflow: auto;
  padding: 0;

  h3 {
    font-size: 2.25em;
    margin: 0 0 0.5em 0;
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  h5 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  ol {
    margin-left: 0;
    padding-left: 0;

    li {
      font-size: 1.1em;
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }
}
