$serif: georgia, serif;

body {
  color: #333;
  font-family: "helvetica neue";
  margin: 0;
  padding: 0;
}

.top-level-header {
  @include outer-container;
  margin: 1.5em 1.25em;

  h1 {
    display: block;
    float: left;
    font-size: 1.5em;
    letter-spacing: -1px;
    margin: 0 0.5em 0 0;
    padding: 0;

    a {
      background: #000;
      border: 2px solid #000;
      color: #fff;
      display: block;
      margin: 0;
      padding: 0.15em 0.35em;
      text-decoration: none;
    }
  }

  h2 {
    display: block; 
    float: left;
    font-size: 1.1em;
    margin: 0;
    padding: 0;

    a {
      border: 2px solid #000;
      color: #000;
      display: block;
      margin: 0;
      padding: 0.4em 0.5em;
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
}

.status {
  margin: 6em auto 10em;
  max-width: 600px;
}

.status-author {
  color: #999;
  font-family: $serif;
  font-size: 1em;
  margin-bottom: 1em;
}

.status-body {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 2em;
}

.author-validation {
  color: #999;
  font-family: $serif;
}

.status-original {
  background: #f3f3f3;
  color: #777;
  display: none;
  padding: 2em;

  .status-original-body {
    margin: 0 auto;
    max-width: 600px;
  }
}