$serif: karla, georgia, serif;
$sans-serif: karla;

body {
  color: #333;
  font-family: $sans-serif;
  margin: 1.5em 1.25em 0;
  padding: 0;
}

.top-level-header {
  @include outer-container;
  max-width: 600px;

  h1 {
    display: block;
    float: left;
    font-size: 1.8em;
    letter-spacing: -1px;
    margin: 0 0.25em 0 0;
    padding: 0;

    a {
      color: #000;
      display: block;
      margin: 0;
      padding: 0.15em 0.35em 0.15em 0;
      text-decoration: none;
    }
  }

  h2 {
    display: block; 
    float: left;
    font-size: .8em;
    margin: 0.6em 0 0 0;
    padding: 0;
    position: relative;

    a {
      background: #000;
      border-radius: 1px;
      color: #fff;
      display: block;
      font-weight: normal;
      margin: 0;
      padding: 0.45em 0.7em;
      text-decoration: none;
    }

    &:before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right: 7px solid #000; 
      left: -7px;
      position: absolute;
      top: 6px;
    }
  }
}

p {
  margin: 0;
}

.status {
  margin: 4em auto 6em;
  max-width: 600px;
  padding: 0;
}

.status-body {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.author-validation {
  color: #666;
  font-family: $serif;
  font-size: 1em;
  margin-bottom: 1em;

  p {
    line-height: 1.4;
  }

  a {
    background: yellow;
    color: inherit;
    padding: 0 0.25em;
    text-decoration: none;
  }
}

.status-date {
  color: #999;
  font-family: $serif;
  font-size: 0.9em;
  margin-bottom: 1em;

  a {
    color: #000;
  }
}

.status-original {
  background: #f3f3f3;
  color: #777;
  margin: 0 -1.25em;
  padding: 2em;

  .status-original-body {
    font-size: 0.8em;
    line-height: 1.35;
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 0;
  }

  pre {
    font-family: PT Mono;
  }
}

code {
  font-family: PT Mono;
  font-size: 0.8em;
}