$sans-serif: karla, "helvetica neue", helvetica, sans-serif;
$monospace: "PT Mono", monospace;

body {
  background: #fff;
  color: #333;
  font-family: $sans-serif;
  margin: 1.5em 1.25em 0;
  padding: 0;
}

.top-level-header {
  @include outer-container;
  max-width: 600px;

  h1 {
    display: block;
    float: left;
    font-size: 1.8em;
    letter-spacing: -1px;
    margin: 0 0.25em 0 0;
    padding: 0;

    a {
      color: #000;
      display: block;
      margin: 0;
      padding: 0.15em 0.35em 0.15em 0;
      text-decoration: none;
    }
  }

  h2 {
    display: none; 
    float: left;
    font-size: .8em;
    margin: 0.6em 0 0 0;
    padding: 0;
    position: relative;

    a {
      background: #000;
      border-radius: 1px;
      color: #fff;
      display: block;
      font-weight: normal;
      margin: 0;
      padding: 0.45em 0.7em;
      text-decoration: none;
    }

    &:before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right: 7px solid #000; 
      left: -7px;
      position: absolute;
      top: 6px;
    }
  }
}

code {
  font-family: $monospace;
  font-size: 0.8em;
}
