body.statuses-show {
  .top-level-header {
    h2 {
      display: block;
    }
  }
}

.status {
  margin: 4em auto 6em;
  max-width: 600px;
  padding: 0;
}

.status-body {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.author-validation {
  color: #666;
  font-size: 1em;
  margin-bottom: 1em;

  p {
    line-height: 1.4;
  }

  a {
    background: yellow;
    color: inherit;
    padding: 0 0.25em;
    text-decoration: none;
  }
}

.status-date {
  color: #999;
  font-size: 0.9em;
  margin-bottom: 1em;

  a {
    color: #000;
  }
}

.status-original {
  background: #f3f3f3;
  color: #777;
  margin: 0 -1.25em;
  padding: 2em;

  .status-original-body {
    font-size: 0.8em;
    line-height: 1.35;
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 0;
  }

  pre {
    font-family: $monospace;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }
}
